@{
    ViewBag.Title = "ASP.NET MVC Demo";
}

<h1 class="text-center rainbow mb-5">Welcome to the ASP.NET MVC demo</h1>

<div class="d-flex justify-content-center">
    <a class="btn btn-outline-primary btn-lg" href="/TrashBags" role="button"><i class="fa fa-trash-o fa-lg mr-2"></i>Check available trash bags<i class="fa fa-trash-o fa-lg ml-2"></i></a>
</div>